body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }

.App-logo {
  height: 160px;
 
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  margin: 0 auto;
  background-color: rgba(255, 235, 205, 0.637);
  min-height: 100vh;
 
}
.number{
  font-weight: bolder;
  color: rgb(83, 51, 3);
  text-align: center;
  font-weight: bolder;
  font-size: 17px;
  margin-top: 50px;
 
}


.gif{
  background: transparent;
  align-items: center;
   margin-top: -40px;

}
h1{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-weight: bolder;
  color: rgb(83, 51, 3);
}
p{
  font-size: 14px;
  font-family: 'Courier New' ;
  text-align: center;
  justify-content: center;
  color: rgb(83, 51, 3);
   
}

.description{
 text-align: center;
  width: 400px;
  margin: 0 auto;
 
   
}
h3{
color: rgb(25, 116, 252);
font-size: 17px;
font-weight: bolder;
font-family: 'Courier New', Courier, monospace;
text-align: center;
 
}

.bi-caret-left, .bi-caret-right{
  color: rgb(25, 116, 252);
  background: transparent;
  border-radius: none;
} 


.bi-caret-left:hover{
  color: rgb(98, 185, 11);
 
}

.bi-caret-right:hover{
  color: rgb(98, 185, 11);
}
  .btnSlide{
    margin: 5px;
  
  }

  .bi-trash{
    color: rgb(245, 106, 106);
    border: none;
    background: transparent;
  }
  :hover.bi-trash{
    color: rgb(202, 25, 25);
  }

  .show{
   border: none;
    background: transparent;
    color: rgb(25, 116, 252);
    font-weight: bolder;
    font-family: 'Courier New',;
    transition: transform .2s; 
  } 
  .show:hover{
    transform: scale(1.1);
    color: rgb(98, 185, 11);
  }

  .btn{
    margin-top: 50px;
  }
  .delete{
  background-color:  rgba(25, 116, 252, 0.815);
  color: white;
  font-size: calc(5px + 2vmin);
  font-weight: bolder;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  margin: 30px 0px;
  font-family: 'Courier New', Courier, monospace;
  }
.delete:hover{
  background-color: rgb(98, 185, 11);
}



 

  @media all and (max-width: 500px) {
    .App {
      width : 100%;
    }

    body{
      background-image: url(background.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
        }
    

  }
  
 